 *{
    padding: 0;
    box-sizing: border-box;
 }

 body{
    font-family: 'Playfair Display', serif;
    /* background-color: rgb(70, 40, 13); */
   background: linear-gradient(135deg, #8d877f, #503206, #744808);
    margin: 30px 80px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .wrapper{
    perspective: 3000px;
 }

 .card{
    width: 360px;
    height: 530px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.9s cubic-bezier(0.22, 1, 0.36, 1);
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2),
                0 16px 32px rgba(0,0,0,0.2);
 }

 .card:hover{
     transform: rotateY(180deg) scale(1.03);
    
    box-shadow: 0 20px 40px rgba(0,0,0,0.4),
                0 30px 60px rgba(0,0,0,0.5);
 }

 .front-page,
 .back-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
 }

 .front-page{
    background-image: url(images/profil.jpg);
    background-size: cover;
    background-position: center;
 }

 .card-info{
   position: absolute;
   bottom: 30px;
    top: 20px;         
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #000;        
    width: 100%;
 }

 .card-title{
      font-family: 'Playfair Display', serif;
      font-size: 2rem;
    font-weight: bold;
    color: rgb(70, 30, 13);
 }

 .back-page{
    background-color: #503206;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.card-content{
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.card-content h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-description{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    background: white;
    color: #503206;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.08);
    box-shadow: 0 5px 25px rgba(80, 50, 6, 0.6);
}

    
